/*Color and fonts*/
body {
	background: #F7F9FC;
	color: #575F7D;
	font-family: 'Lora', serif;
	font-size: 17px;
	font-weight: lighter;
}

/*HTML basics*/
h1,h2,h3{ 
	font-family: 'Robot', sans-serif;
}

h1 { 
	color: #F29CA3;
	font-size: 32px;
	font-weight: 900;
}

h2  { 
	color: #AEDD87;
	font-size: 20px;
	font-weight: lighter;
	font-weight: 500;
}

h2 > i.fa-shirt {
	color: #ff5000;
}

h2 > i.fa-bullhorn {
	color: #000;
}

h2 > i.fa-paintbrush {
	color: #8f491a;
}


/*CSS basics*/
a{ 
	font-family: 'Robot', sans-serif;
	text-decoration: none;
	font-weight: 600;
	font-size: 16px;
	color: #A5B9FF;
}
a:hover { 
	color: #6B8EFF; 
}

/*Structuring with divs - Containers & Cards*/
.container { 
	width: 700px;
	margin: 40px auto;
}

.card-white { 
	background: linear-gradient(145deg, #FFFFFF, #FFF5F7);
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 8px;
	margin: 20px 0px;
	text-align: center;
}

/*CSS - images*/
.img-circle {  
	border-radius: 50%;
	width: 100px;
	height: 100px;
	object-fit:cover;
}

/*CSS buttons*/
.btn-blue{  
	background-color: #F29CA3;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-blue:hover {  
	background-color: #E75480;
	color: white;
}

/*Colors & List & Icons*/
.list-inline {  
	list-style: none;
	padding-left: 0px;
}
.list-inline li {  
	display: inline;
	padding: 10px;

}
.list-inline i {  
	font-size: 50px;
	color: #7DA2FF;
}


.list-inline .fa-facebook-f {color: #3b5998;}
.list-inline .fa-twitter {color: #1DA1F2;} 
.list-inline .fa-instagram { color: #F29CA3;}
.list-inline .fa-linkedin-in { color: #0077B5;} 

.list-inline i:hover {  
	color: #4C6EF5;
}

/*Espai Paragraph*/
#introduction p {  
	margin-bottom: 40px;

}

.container { 
	width: 700px;
	margin: 40px auto;
}

/*Responsive Design*/
@media (max-width: 760px){
	.container {
		width: 600px;

}
}

@media (max-width: 500px){
	.container {
		width: 400px;
}
}


